NEXT_PUBLIC_SUPABASE_URL=https://ybpwiqcosuzjwvdmspgt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlicHdpcWNvc3V6and2ZG1zcGd0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzMzQwMDUsImV4cCI6MjEwNDkxMDAwNX0.ULoTXoDXqBCDPAE8ICfWHgtNx9QKxPR8WqDzzK-I7nU
NEXT_PUBLIC_SITE_NAME=The Harfield Hub
NEXT_PUBLIC_SUBURB_SLUG=harfield
